<div class="flex justify-center mt-4">
    <div class="w-full md:w-4/5">
        <div class="card p-6 flex flex-col gap-5">
            <div class="text-base font-semibold text-surface-900 dark:text-surface-0 pb-3 border-b">Modification</div>

            @if (isLoading()) {

            <!-- SKELETON -->
            <div class="flex flex-col gap-4">
                <!-- Quartier -->
                <div class="flex flex-col gap-2">
                    <p-skeleton width="100px" height="1rem"></p-skeleton>
                    <p-skeleton width="100%" height="2.5rem"></p-skeleton>
                </div>

                <!-- Commune -->
                <div class="flex flex-col gap-2">
                    <p-skeleton width="100px" height="1rem"></p-skeleton>
                    <p-skeleton width="100%" height="2.5rem"></p-skeleton>
                </div>

                <!-- Button -->
                <div class="flex justify-end">
                    <p-skeleton width="120px" height="2.5rem"></p-skeleton>
                </div>
            </div>

            } @else {

            <!-- FORM -->
            <form [formGroup]="form">
                <!-- Quartier -->
                <div class="flex flex-col gap-2 mb-4">
                    <label for="quartier">Quartier</label>
                    <input id="quartier" type="text" pInputText fluid formControlName="quartier" [class.ng-invalid]="isInvalid('quartier')" [class.ng-dirty]="isInvalid('quartier')" />
                    @if (isInvalid('quartier')) {
                    <small class="p-error">Le quartier est requis.</small>
                    }
                </div>

                <!-- Commune -->
                <div class="flex flex-col gap-2 mb-4">
                    <label for="idCommune">Commune</label>
                    <p-select id="idCommune" [options]="communes" optionLabel="commune" optionValue="id" formControlName="idCommune" class="w-full" [class.ng-invalid]="isInvalid('idCommune')" [class.ng-dirty]="isInvalid('idCommune')" />
                    @if (isInvalid('idCommune')) {
                    <small class="p-error">La commune est requise.</small>
                    }
                </div>

                <!-- Button -->
                <div class="flex justify-end">
                    <p-button label="Valider" severity="primary" (onClick)="submit()" [disabled]="form.invalid || isLoading()" />
                </div>
            </form>

            }

            <!-- Dialog (hors loading pour éviter bug UI) -->

</div>
    </div>
</div>
