<div class="rounded-lg border bg-surface-0 dark:bg-surface-900 overflow-hidden">
    <table class="w-full border-collapse">
        <tbody>
            @for (row of rowsArray; track $index) {
                <tr class="border-b last:border-b-0">
                    @for (col of columnsArray; track $index) {
                        <td class="px-4 py-2.5">
                            <p-skeleton width="100%" height="1rem" styleClass="rounded"></p-skeleton>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
