
<div custom-card>
    <h3 card-title>Caractéristiques Panneaux</h3>
    <div card-action>
        <p-button label="Ajouter" [routerLink]="['add']" />
    </div>

    @if (isLoading()) {
        <app-skeleton-table></app-skeleton-table>
    } @else {
        <div>
            @if (caracteristiques.length > 0) {
                <div class="mb-4 flex flex-wrap items-center gap-3 rounded-lg border bg-surface-50 dark:bg-surface-800 px-3.5 py-3">
                        <p-iconfield class="w-full sm:w-80">
                            <p-inputicon class="pi pi-search" />
                            <input pInputText type="text" class="w-full" placeholder="Rechercher" (input)="dt.filterGlobal($event.target.value, 'contains')" />
                        </p-iconfield>
                    </div>
                <p-table #dt [value]="caracteristiques" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5, 10, 20]"
                         [tableStyle]="{ 'min-width': '75rem' }" [globalFilterFields]="['type', 'caracteristique', 'categoriePanneaux.categorie']">
                    <ng-template #header>
                        <tr>
                            <th>#</th>
                            <th>Type</th>
                            <th>Caractéristique</th>
                            <th>Dimensions</th>
                            <th>Longueur</th>
                            <th>Largeur</th>
                            <th>Catégorie Panneaux</th>
                            <th>Action</th>
                        </tr>
                    </ng-template>
                    <ng-template #body let-caract let-rowIndex="rowIndex">
                        <tr>
                            <td>{{ rowIndex + 1 }}</td>
                            <td>{{ caract.type }}</td>
                            <td>{{ caract.caracteristique }}</td>
                            <td>{{ caract.dimenssion }}</td>
                            <td>{{ caract.longeur }}</td>
                            <td>{{ caract.largeur }}</td>
                            <td>{{ caract.categoriePanneaux?.categorie }}</td>
                            <td>
                                <p-button icon="pi pi-pencil" severity="secondary" pTooltip="Modifier" tooltipPosition="top" ariaLabel="Modifier" [text]="true" size="small"
                                          [routerLink]="['edit', caract.id]" />
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            } @else {
                <app-empty-state message="Aucune donnée trouvée" />
            }
        </div>
    }

</div>
