

<div>

    <div custom-card>
        <h3 card-title>Types d'évènement</h3>
        <div card-action>
            <p-button label="Ajouter" [routerLink]="['add']" />
        </div>

        @if (isLoading()) {
            <app-skeleton-table></app-skeleton-table>
        } @else {
            <div>
                @if (types.length > 0) {
                    <p-table [value]="types" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5, 10, 20]"
                             [tableStyle]="{ 'min-width': '50rem' }">
                        <ng-template #header>
                            <tr>
                                <th>#</th>
                                <th>Type</th>
                                <th>Description</th>
                                <th>Statut</th>
                                <th>Action</th>
                            </tr>
                        </ng-template>
                        <ng-template #body let-type let-rowIndex="rowIndex">
                            <tr>
                                <td>{{ rowIndex + 1 }}</td>
                                <td>{{ type.type }}</td>
                                <td>{{ type.description }}</td>
                                <td>
                                    <p-tag [value]="getStatus(type.btEmabled)"
                                           [severity]="getSeverity(type.btEmabled)" />
                                </td>
                                <td>
                                    <p-button label="Modifier" [text]="true" size="small"
                                              [routerLink]="['edit', type.id]" />

                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                } @else {
                    <div class="bg-card flex justify-center items-center h-72">
                        <h1 class="font-bold text-3xl">Aucune donnée trouvée</h1>
                    </div>
                }
            </div>
        }

    </div>


</div>
